In [2]:
import pandas as pd

In [46]:
def flowerDataFrame(name, isNative):
    df = pd.read_csv(f"./data/{name}/occurrence.txt", sep='\t', low_memory=False)

    namlen = len(name)

    df = df[['scientificName', 'decimalLongitude', 'decimalLatitude', 'month', 'year', 'stateProvince']]
    df['native'] = isNative
    df['name'] = df['scientificName'].str[:namlen]
    df = df.drop(['scientificName'], axis=1)
    df = df[(df['stateProvince'] == "California") | (df['stateProvince'] == "Ca")]
    df = df.drop(['stateProvince'], axis=1)
    df = df[df['name'] == name]
    df = df.dropna()
    df = df.reset_index(drop=True)
    df[list(["month", "year"])] = df[list(["month", "year"])].astype(int)
    df = df.rename(columns={'decimalLongitude': 'longitude',
                            'decimalLatitude': 'latitude'})
    return df

In [39]:
lasCal = flowerDataFrame('Lasthenia californica', 'yes')
lasCal

       longitude   latitude  month  year native                   name
0    -123.967366  41.856009      5  2017    yes  Lasthenia californica
1    -121.494900  36.165900      4  1968    yes  Lasthenia californica
2    -118.648018  34.077701      3  1959    yes  Lasthenia californica
3    -118.455048  34.073825      4  1932    yes  Lasthenia californica
4    -118.859368  34.079191      3  1941    yes  Lasthenia californica
...          ...        ...    ...   ...    ...                    ...
1358 -117.261389  32.936111      4  2010    yes  Lasthenia californica
1359 -121.780810  39.773030      2  2011    yes  Lasthenia californica
1360 -121.193373  37.091812      3  2004    yes  Lasthenia californica
1361 -119.533333  35.049999      4  1998    yes  Lasthenia californica
1362 -121.362800  37.500000      3  2002    yes  Lasthenia californica

[1363 rows x 6 columns]

In [48]:
#native plants
plntgo = flowerDataFrame("Plantago erecta Morris", 'yes')
clrkiP = flowerDataFrame("Clarkia purpurea", 'yes')
clrkiB = flowerDataFrame("Clarkia bottae", 'yes')
chaenc = flowerDataFrame("Chaenactis glabriuscula", 'yes')
amsink = flowerDataFrame("Amsinckia menziesii", 'yes')

#non-native
mdcgoP = flowerDataFrame("Medicago polymorpha", 'no')
cntrea = flowerDataFrame("Centaurea solstitialis", 'no')
euphba = flowerDataFrame("Euphorbia", 'no')
altrna = flowerDataFrame("Alternanthera philoxeroides", 'no')
brssTG = flowerDataFrame("Brassica tournefortii Gouan", 'no')

In [10]:
sdgwik = pd.read_csv(f"./data/sedgewick.csv")
sdgwik['latitude'] = 34.6939
sdgwik['longitude'] = -120.0417
sdgwik = sdgwik.drop('Sedgwick Rainfall Cumulative mm', axis =1 )
sdgwik

,Time,Sedgwick Air Temp Avg degC,Sedgwick Rainfall mm,latitude,longitude
0,2011-05-18 15:00:00,12.78,0.0,34.6939,-120.0417
1,2011-05-18 15:10:00,12.97,0.0,34.6939,-120.0417
2,2011-05-18 15:20:00,12.74,0.0,34.6939,-120.0417
3,2011-05-18 15:30:00,12.56,0.0,34.6939,-120.0417
4,2011-05-18 15:40:00,12.22,0.0,34.6939,-120.0417
...,...,...,...,...,...
564480,2022-02-09 15:00:00,27.85,0.0,34.6939,-120.0417
564481,2022-02-09 15:10:00,27.73,0.0,34.6939,-120.0417
564482,2022-02-09 15:20:00,27.30,0.0,34.6939,-120.0417
564483,2022-02-09 15:30:00,27.05,0.0,34.6939,-120.0417
564484,2022-02-09 15:40:00,27.39,0.0,34.6939,-120.0417